/* CSS HEX COLORS
--orange: #dc851fff;
--blue: #002f6cff;
--white: #ffffffff;
--green: #45462aff;
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #002f6cff;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.container2 {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
  }

h1 {
  color: white;
  font-size: 5rem;
  word-wrap: break-word;
  text-align: center;
}

h2, p {
  color: white;
}

h3 {
  color: #dc851fff;
}

.nearestDates {
  max-width: 960px;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  margin: auto auto 0 auto;
}

.nearestDates > p {
  width: 300px;
  max-width: 30%;
}

.right {
  text-align: right;
}

.theDay {
  margin: 0;
}
.white {
  color: white;
}

.navArea {
  background-color: #dc851fff;
  margin-top: 0;
  width: 100%;
}

ul {
  margin: 0;
}

.navArea a {
  text-decoration: none;
  display: block;
  padding: 1em;
  border-radius: 5px;
}

.navArea a:hover {
  color: white;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 2em;
  margin-right: 1em;
  color: black;
  text-decoration: none;
}

.footer {
  color: grey;
  text-align: end;
  margin: 1em;
}

.footer a {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 2.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    overflow-wrap: anywhere;
    margin-block-end: 0px;
  }
  .container, .nearestDates {
    margin: 1em;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    gap: 0.5em;
  }
}